menu "MCP2518FD Configuration"

    config MCP2518_ASSERT
        bool "Enable assertions"
        default y
        help
            If this is set, assertion checks are enabled and failed assertions will
            crash the application.
    config MCP2518_DEBUG_PRINT
        bool "Enable debug prints"
        default n
        help
            Enables rather verbose printing that may be useful for debugging, e.g.
            printing on every register read and write

    config MCP2518_CRC_ENABLE
        bool "Enable CRC check on register reads and writes"
        default n
        help
            If enabled, all register reads and writes will use the *_CRC opcodes
            and compare the locally calculated CRC with one read from the MCP2518

    config MCP2518_ATTR
        bool "Place fast path functions in IRAM"
        default n
        help
            Places "fast path" functions, i.e. sending and receiving messages, into
            IRAM rather than flash memory, thus decreasing the likelihood of experencing
            instruction cache misses

    config MCP2518_INSTALL_GPIO_ISR
        bool "Install GPIO ISR Service"
        default y
        help
            Controls whether this component installs the GPIO ISR service. This needs to be done somewhere, so
            if another component in the application already installs the service, this option allows for this component
            to skip this step.

    config EXTENDED_ID_HW_WORKAROUND
        bool "Extended ID HW Workaround"
        default n
        help
            For unknown reasons, when setting the IDE bit (extended ID), the MCP2518FD seems to rotate the standard ID
            and extended ID bits. If you are seeing unexpected headers when extended IDs are used, try enabling.

endmenu